#container {
	position: relative;
	text-align: center;
}

.dropTarget {
	height: 100%;
	background-color: rgba(168, 167, 167, 0.75);
	color: #fff;
	border: 4px black dashed;
	border-radius: 20px;
}

.information {
	text-align: center;
}

html, body, .container {
    height: 100%;
}
.container {
    display: table;
    vertical-align: middle;
}
.vertical-center-row {
    display: table-cell;
    vertical-align: middle;
}
