<div class="panel panel-default" style="height:100%;">
	<div class="panel-heading" ng-if="label">{{label}}</div>
	<div class="panel-body">
		<img src="/images/ajax-loader.gif" ng-if="loading" />
		<div ng-if="newContainer" style="text-align:center;"><h3>New Container</h3></div>
		<div class="emptyContainer" ng-if="container.empty"><h3>Empty Container<h3></div>
		<img class="preview-image" ng-if="containerPreview && !dropTarget" ng-src="{{containerPreview}}" ng-click="largePreview()" style="width:100%;text-align: center;margin: 0 auto;display: table-cell;max-width:500px;cursor:pointer;" />
		<div ng-if="errorLoading" style="text-align:center;">Error Loading Preview</div>

		<div class="information" ng-hide="dropTarget">
			<div ng-if="newContainer || container.empty">Drag File or Click to Upload</div>

			<div class="btn-group">
				<button type="button" class="btn btn-default pull-left" ng-click="downloadFile()" ng-if="container"><i class="glyphicon glyphicon-download-alt"></i></button>
				<button type="button" class="btn btn-default" ng-click="triggerFileDialog()"><i class="glyphicon glyphicon-upload"></i></button>
				<button type="button" class="btn btn-default" ng-click="confirmDelete()" ng-if="container"><i class="glyphicon glyphicon-remove"></i></button>
			</div>
			<div ng-if="container">Filename: {{container.filename}}</div>
		</div>

		<div class="dropTarget" ng-if="dropTarget">
			<div style="text-align:center;"><h3>Drop File to upload!</h3></div>
		</div>

		<input class="fileInput" type="file" style="display:none;" />
	</div>
</div>
